/* 
*==========================================
* PORTFOLIO
*==========================================
*/

/* 
* ↳ IMAGE - ANIMATION HOVER
*/

[data-wf--card-cms--cards-cards-variant='portfolio'].cms_cards#animation-photo .cms_cards_cover,
[data-wf--card-cms--cards-cards-variant='portfolio'].cms_cards#animation-photo
  .cms_cards_hover-image-w {
  transition: opacity 0.3s ease-out;
}

[data-wf--card-cms--cards-cards-variant='portfolio'].cms_cards#animation-photo:hover
  .cms_cards_cover {
  opacity: 0;
}

[data-wf--card-cms--cards-cards-variant='portfolio'].cms_cards#animation-photo:hover
  .cms_cards_hover-image-w {
  opacity: 1;
}

[data-wf--card-cms--cards-cards-variant='portfolio'] .cms_cards_cover-hover-logo {
  transform: translateY(var(--_layout---spacing--huge));
  transition: transform 0.6s var(--ease-back-out);
}

[data-wf--card-cms--cards-cards-variant='portfolio'].cms_cards#animation-photo:hover
  .cms_cards_cover-hover-logo {
  transform: translateY(var(--_layout---spacing--none));
}

/* 
*==========================================
* VIDEO - ANIMATION HOVER
*==========================================
*/

[data-wf--card-cms--cards-cards-variant='portfolio'].cms_cards#animation-video .cms_cards_cover,
[data-wf--card-cms--cards-cards-variant='portfolio'].cms_cards#animation-video
  .cms_cards_hover-video-w {
  transition: opacity 0.3s ease-out;
}

[data-wf--card-cms--cards-cards-variant='portfolio'].cms_cards#animation-video:hover
  .cms_cards_cover {
  opacity: 0;
}

[data-wf--card-cms--cards-cards-variant='portfolio'].cms_cards#animation-video:hover
  .cms_cards_hover-video-w {
  opacity: 1;
}

[data-wf--card-cms--cards-cards-variant='portfolio'] .cms_cards_cover-hover-logo {
  transform: translateY(var(--_layout---spacing--huge));
  transition: transform 0.6s var(--ease-back-out);
}

[data-wf--card-cms--cards-cards-variant='portfolio'].cms_cards#animation-video:hover
  .cms_cards_cover-hover-logo {
  transform: translateY(var(--_layout---spacing--none));
}

/* 
* ↳ RADIUS
*/

.cms_cards_asset,
.cms_cards_hover {
  transition: border-radius 0.3s var(--ease-back-out);
}

[data-wf--card-cms--cards-cards-variant='portfolio']:hover .cms_cards_asset,
[data-wf--card-cms--cards-cards-variant='portfolio']:hover .cms_cards_hover {
  border-radius: var(--_sizes---border-radius--xlarge);
}

/* 
*==========================================
* SERVICES
*==========================================
*/

.cms_cards_services-collection-item:last-child .cms_cards_services-cards {
  padding-right: var(--_layout---spacing--none);
}

.cms_cards_services-collection-item:last-child .cms_cards_services-cards .divider_component {
  display: none;
}

.cms_cards_services-collection-item[categorie-type='Sub'] {
  font-weight: var(--font-weight--normal);
}

/* 
* Hover animation
*/

@keyframes slideInServices {
  from {
    transform: translateX(3rem);
  }
  to {
    transform: translateX(0rem);
  }
}

@keyframes slideOutServices {
  from {
    transform: translateX(3rem);
  }
  to {
    transform: translateX(0rem);
  }
}

.cms_cards_services-collection,
.cms_cards_services-target {
  transition: width 0.6s var(--ease-back-out);
}

.cms_cards .cms_cards_services-w {
  animation: slideOutServices 0.6s var(--ease-back-out) forwards;
}

.cms_cards:hover .cms_cards_services-w {
  animation: slideInServices 0.6s var(--ease-back-out) forwards;
}

.cms_cards:hover .cms_cards_services-collection {
  opacity: 1;
  width: 100%;
}

.cms_cards:hover .cms_cards_services-target {
  opacity: 1;
  width: 100%;
}

.cms_cards_icon {
  transition: transform 1.2s var(--ease-back-out);
}

.cms_cards:hover .cms_cards_icon {
  transform: rotateZ(0deg);
}

/* 
*==========================================
* BLOG
*==========================================
*/

[data-wf--card-cms--cards-cards-variant*='blog'] .text-size-medium {
  display: -webkit-box;
  overflow: hidden;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* 
*==========================================
* STACK
*==========================================
*/

/* 
* ↳ Hover animation
*/

[data-wf--card-cms--cards-cards-variant*='stack']:hover .cms_cards_asset,
[data-wf--card-cms--cards-cards-variant*='stack']:hover .cms_cards_hover {
  border-radius: var(--_sizes---border-radius--xlarge);
}

[data-wf--card-cms--cards-cards-variant*='stack'] .cms_cards_bottom-icon {
  transition:
    transform 0.15s var(--ease-back-out),
    opacity 0.15s ease-out;
  transform: translateX(-1.5rem);
}

[data-wf--card-cms--cards-cards-variant*='stack']:hover .cms_cards_bottom-icon {
  transform: translateX(0rem);
  opacity: 1;
}

.cms_cards_tag-light {
  scale: 1;
  transition: transform 0.3s var(--ease-back-out);
  transform: translateX(-33%);
}

[data-wf--card-cms--cards-cards-variant*='stack']:hover .cms_cards_tag-light {
  transform: translateX(33%);
}

/* 
* ↳ Tag BG Color Component
*/

[data-bg-color='#ffe1c7'] {
  background-color: var(--_theme---background--accent-orange);
}

[data-bg-color='#7ac9d7'] {
  background-color: var(--_theme---background--accent-blue);
}

[data-bg-color='#d8a5dc'] {
  background-color: var(--_theme---background--accent-purple);
}
