/* 
*==========================================
* IMAGE - ANIMATION LOGO
*==========================================
*/

.portfolio_card#animation-logo .portfolio_card_cover,
.portfolio_card#animation-logo .portfolio_card_hover-logo-w {
  transition: opacity 0.3s ease-out;
}

.portfolio_card#animation-logo:hover .portfolio_card_cover {
  opacity: 0;
}

.portfolio_card#animation-logo:hover .portfolio_card_hover-logo-w {
  opacity: 1;
}

.portfolio_card_cover-hover-logo {
  transform: translateY(var(--_layout---spacing--huge));
  transition: transform 0.6s var(--ease-back-out);
}

.portfolio_card#animation-logo:hover .portfolio_card_cover-hover-logo {
  transform: translateY(var(--_layout---spacing--none));
}

/* 
*==========================================
* SERVICES
*==========================================
*/

.portfolio_card_services-collection-item:last-child .divider_component {
  display: none;
}

.portfolio_card_services-collection-item[categorie-type='Sub'] {
  font-weight: var(--font-weight--normal);
}

/* 
* Hover animation
*/

@keyframes slideInServices {
  from {
    transform: translateX(3rem);
  }
  to {
    transform: translateX(0rem);
  }
}

@keyframes slideOutServices {
  from {
    transform: translateX(3rem);
  }
  to {
    transform: translateX(0rem);
  }
}

.portfolio_card_services-collection {
  transition: width 0.6s var(--ease-back-out);
}

.portfolio_card .portfolio_card_services-w {
  animation: slideOutServices 0.6s var(--ease-back-out) forwards;
}

.portfolio_card:hover .portfolio_card_services-w {
  animation: slideInServices 0.6s var(--ease-back-out) forwards;
}

.portfolio_card:hover .portfolio_card_services-collection {
  opacity: 1;
  width: 100%;
}

.portfolio_card_icon {
  transition: transform 1.2s var(--ease-back-out);
}

.portfolio_card:hover .portfolio_card_icon {
  transform: rotateZ(0deg);
}

/* 
*==========================================
* RADIUS
*==========================================
*/

.porfolio_card_asset,
.portfolio_card_hover {
  transition: border-radius 0.3s var(--ease-back-out);
}

.porfolio_card#animation-logo:hover .porfolio_card_asset,
.porfolio_card#animation-logo:hover .portfolio_card_hover {
  border-radius: var(--_sizes---border-radius--xlarge);
}
