/* 
*==========================================
* RADIO FORM - ANIMATION HOVER
*==========================================
*/

[radio-form='wrapper'] {
  transition: color 0.15s ease-out;
}

[radio-form='background'] {
  transition: width 0.3s var(--ease-back-out);
}

[radio-form='text'] {
  transition:
    background-color 0.3s ease-out,
    border-color 0.3s ease-out;
}

[radio-form='wrapper']:hover [radio-form='background'] {
  width: 100%;
  opacity: 1;
}

[radio-form='wrapper']:hover {
  color: var(--_theme---text-color--invert);
}

[radio-form='wrapper']:hover [radio-form='text'] {
  color: var(--_theme---text-color--primary);
  background-color: var(--_theme---background--primary);
  border-color: var(--_theme---border-color--invert);
}

/* 
*==========================================
* RADIO FORM - ACTIVE STATE
*==========================================
*/

[radio-form='wrapper'] .is-active-inputactive {
  color: var(--_theme---text-color--invert);
}

[radio-form='wrapper'] .is-active-inputactive [radio-form='text'] {
  color: var(--_theme---text-color--primary);
  background-color: var(--_theme---background--primary);
  border-color: var(--_theme---border-color--invert);
}

[radio-form='wrapper'] .is-active-inputactive + [radio-form='background'] {
  width: 100%;
  opacity: 1;
}

/* 
*==========================================
* SEARCH FORM - STATES
*==========================================
*/

/* Hover - Eyes */
[search-form='pupille'] {
  transition:
    transform 0.3s var(--ease-back-out),
    margin-left 0.3s var(--ease-back-out);
}

[search-form='pupille'].is-animate {
  transform: translateX(25%);
}

/* Focus - hover */
[search-form='wrapper']:hover [search-form='pupille'] {
  transform: translateX(-25%);
}

/* Focus - eyes */
[search-form='input']:focus ~ [search-form='eyes'] [search-form='pupille'] {
  transform: translateY(25%);
  margin-left: -0.5rem;
}

/* Focus - eyes + texte */
[search-form='wrapper'].is-active [search-form='pupille'] {
  transform: translateY(25%);
  margin-left: -0.5rem;
}

/* Focus - reset */
[search-form='reset'] {
  transition: transform 0.3s var(--ease-back-out);
}

[search-form='wrapper'].is-active [search-form='reset'] {
  transform: translateX(-150%);
}

/* 
*==========================================
* CHECKBOX FORM - ACCORDION
*==========================================
*/

.form_filters_accordion-checkbox-field:hover .form_filters_accordion-checkbox {
  background-color: var(--_theme---background--primary);
}

.form_filters_accordion-checkbox-field.is-active-inputactive .form_filters_accordion-checkbox {
  background-color: transparent;
}

/* 
*==========================================
* FILTER TAGS
*==========================================
*/

.filter_tags_remove {
  transition: transform 0.3s var(--ease-back-out);
}

.filter_tags_remove:hover {
  transform: rotateZ(90deg);
}

/*
* ==========================================
* ACCORDION FILTERS - Dropdown Checkbox
* ========================================== 
*/

.form_filters_accordion-collection-list
  .form_filters_accordion-collection-item:last-child
  .form_filters_accordion-divider {
  display: none;
}

/*
* ==========================================
* ACCORDION FILTERS - Dropdown Header Active State
* ========================================== 
*/

.form_filters_accordion-header-active {
  transform: scale(0);
  transition:
    transform 0.3s var(--ease-back-out),
    opacity 0.3s ease-out,
    background-color 0.3s ease-out;
}

[fs-accordion-element='accordion']:has(.is-active-inputactive)
  .form_filters_accordion-header-active {
  transform: scale(1);
  opacity: 1;
}

[fs-accordion-element='accordion']:has(.is-active-inputactive)
  .form_filters_accordion-header.is-active-accordion
  .form_filters_accordion-header-active {
  transform: scale(1);
  opacity: 1;
  background-color: var(--_theme---background--primary);
}

/* Checked state */
.form_filters_accordion-checkbox-field.is-active-inputactive .form_filters_accordion-checkbox {
  background-color: var(--_theme---background--transparent);
  background-image: url('https://cdn.prod.website-files.com/6918e7a57f6632f08bcbfc2e/69b2ddc92a3846b7a2283bbf_icon-checked.svg');
  background-position: 50% 50%;
  background-size: contain;
}
