[trigger='accordion-plus'],
[trigger='accordion-sub'] {
  transition:
    transform 0.3s var(--ease-back-out),
    scale 0.3s var(--ease-back-out);
}

[trigger='accordion-sub'] {
  scale: 0;
  height: 0%;
  width: 0%;
}

[trigger='accordion-plus'] {
  scale: 1;
  height: 100%;
  width: 100%;
}

[trigger='accordion-header'].is-active-accordion [trigger='accordion-plus'] {
  scale: 0;
  height: 0%;
  width: 0%;
}

[trigger='accordion-header'].is-active-accordion [trigger='accordion-sub'] {
  scale: 1;
  height: 100%;
  width: 100%;
}

[trigger='accordion']:hover [trigger='accordion-plus'] {
  transform: translateY(100%);
}

[trigger='accordion-icon-w']:hover [trigger='accordion-sub'] {
  transform: translateY(100%);
}
