/*
 *==========================================
 * BUTTON ICONS ANIMATIONS
 *==========================================
 */

/* 
* ↳ TRIGGER POSITION
*/

[trigger='icon-left-to-right'] [trigger='button-icon-wrapper'] {
  display: flex;
  justify-content: right;
  align-items: flex-start;
}

[trigger='icon-right-to-left'] [trigger='button-icon-wrapper'] {
  display: flex;
  justify-content: left;
  align-items: flex-start;
}

[trigger='icon-bottom-to-top'] [trigger='button-icon-wrapper'] {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

[trigger='icon-top-to-bottom'] [trigger='button-icon-wrapper'] {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
}

/* 
* ↳ ICON ANIMATIONS
*/

[trigger='button-icon'] {
  transition:
    transform 0.3s var(--ease-back-out),
    opacity 0.3s var(--ease-back-out);
}

[trigger='icon-left-to-right']:hover [trigger='button-icon'] {
  transform: translateX(100%);
}

[trigger='icon-right-to-left']:hover [trigger='button-icon'] {
  transform: translateX(-100%);
}

[trigger='icon-bottom-to-top']:hover [trigger='button-icon'] {
  transform: translateY(-100%);
}

[trigger='icon-top-to-bottom']:hover [trigger='button-icon'] {
  transform: translateY(100%);
}

/*
 *==========================================
 * SUBLINE ANIMATION
 *==========================================
 */

[subline='line'] {
  transition: width 0.3s var(--ease-back-out);
}

[subline='right-to-left']:hover [subline='line'] {
  width: 100%;
}

/*
 *==========================================
 * MAIN BUTTON
 *==========================================
 */

.button_main_icon {
  transition: border-color 0.15s ease-out;
}

.button_main_wrap {
  position: relative;
}

.button_main_hover-wrapper {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
}

.button_main_hover-wrapper .button_main_hover {
  /* visibility: hidden; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: 0 0;
  will-change: transform;
  pointer-events: none;
}

.button_main_hover::before {
  aspect-ratio: 1/1;

  border-radius: 50%;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 200%;
  pointer-events: none;
}

.button_main_animal {
  position: absolute;
  opacity: 0;
  transform: scale(0) translateY(0%);
  pointer-events: none;
  will-change: opacity, transform;
}

/*
 *==========================================
 * ↳ PRIMARY BUTTON
 *==========================================
 */

[data-wf--button-main--variant='primary'] .button_main_hover::before {
  background-color: var(--_buttons---surface--hover);
}

[data-wf--button-main--variant='secondary'] .button_main_hover::before {
  background-color: var(--_buttons---surface--default);
}

/*
 *==========================================
 * ↳ SECONDARY BUTTON
 *==========================================
 */

[data-wf--button-main--variant='secondary']:hover .button_main_icon {
  border-color: var(--_theme---border-color--primary);
}

/*
 *==========================================
 * LINK BUTTON
 *==========================================
 */

[data-wf--button-link--variant*='base'] {
  transition: padding-left 0.3s var(--ease-back-out);
}

[data-wf--button-link--variant*='base']:hover {
  padding-left: var(--_layout---spacing--xsmall);
}

/* [data-wf--button-link--variant*='base'] .button_link_icon {
  opacity: 1;
  transform: translateX(-100%);
  transition:
    opacity 0.3s var(--ease-back-out),
    transform 0.3s var(--ease-back-out);
}

[data-wf--button-link--variant*='base']:hover .button_link_icon {
  opacity: 1;
  transform: translateX(0%);
} */

/*
 *==========================================
 * FOOTER LINK 
 *==========================================
 */

[trigger='icon-left-to-right']:hover [trigger='button-icon'] {
  opacity: 1;
}

/*
 *==========================================
 * SOCIAL BUTTONS
 *==========================================
 */
/* 
.social_icon {
  transition:
    transform 0.3s var(--ease-back-out),
    scale 0.3s var(--ease-back-out);
}

.social_icon-w:hover .social_icon {
  transform: translateY(100%);
}

.social_icon-w:hover .social_icon {
  transform: translateY(100%);
} */

/*
 *==========================================
 * ACCORDION BUTTON
 *==========================================
 */

[trigger='accordion-plus'],
[trigger='accordion-sub'] {
  transition:
    transform 0.3s var(--ease-back-out),
    scale 0.3s var(--ease-back-out);
}

[trigger='accordion-sub'] {
  scale: 0;
  height: 0%;
  width: 0%;
}

[trigger='accordion-plus'] {
  scale: 1;
  height: 100%;
  width: 100%;
}

[trigger='accordion-header'].is-active-accordion [trigger='accordion-plus'] {
  scale: 0;
  height: 0%;
  width: 0%;
}

[trigger='accordion-header'].is-active-accordion [trigger='accordion-sub'] {
  scale: 1;
  height: 100%;
  width: 100%;
}

[trigger='accordion']:hover [trigger='accordion-plus'] {
  transform: translateY(100%);
}

[trigger='accordion-icon-w']:hover [trigger='accordion-sub'] {
  transform: translateY(100%);
}

/*
 *==========================================
 * LINK LINE
 *==========================================
 */

.link-line_component .link-line_sub {
  transition: width 0.3s var(--ease-back-out);
}

.link-line_component:hover .link-line_sub {
  width: 100%;
}
