#ressources-blog:hover [data-wf--button-link--variant],
#ressources-labs:hover [data-wf--button-link--variant],
#ressources-formation:hover [data-wf--button-link--variant] {
  padding-left: var(--_layout---spacing--xsmall);
}
