#ressources-blog:hover [data-wf--button-link--variant*='base'],
#ressources-labs:hover [data-wf--button-link--variant*='base'],
#ressources-formation:hover [data-wf--button-link--variant*='base'] {
  padding-left: var(--_layout---spacing--xsmall);
}
