.review_pagination-cards {
  opacity: 0.5;
}

.review_pagination-cards:hover {
  opacity: 1;
}

.review_pagination-cards.is-active {
  opacity: 1;
}

/*** SLIDER PAGINATION - INVERT ***/

[data-wf--slider-pagination--variant='invert'] .swiper-bullet {
  border-top-color: var(--_theme---border-color--invert);
  border-right-color: var(--_theme---border-color--invert);
  border-bottom-color: var(--_theme---border-color--invert);
  border-left-color: var(--_theme---border-color--invert);
}

[data-wf--slider-pagination--variant='invert'] .swiper-bullet.is-active {
  border-top-color: var(--_theme---border-color--contrast-orange);
  border-right-color: var(--_theme---border-color--contrast-orange);
  border-bottom-color: var(--_theme---border-color--contrast-orange);
  border-left-color: var(--_theme---border-color--contrast-orange);
}

[data-wf--slider-pagination--variant='invert'] .swiper-bullet.is-active:hover {
  background-color: var(--_theme---text-color--accent-orange);
}

[data-wf--slider-pagination--variant='invert'] .swiper-bullet:hover {
  background-color: var(--_theme---background--primary);
}
