/* 
*==========================================
* GLOBAL
*==========================================
*/

/* 
* ↳ EASINGS
*/

@import './utils/global/easings/easings.css';

/* 
*==========================================
* RESPONSIVE
*==========================================
*/

@import './utils/responsive/breakpoints.css';

/* 
*==========================================
* COMPONENTS
*==========================================
*/

/* 
* ↳ GLOBAL
*/

@import './utils/component/global/navbar.css';
@import './utils/component/global/footer.css';
@import './utils/component/global/button.css';
@import './utils/component/global/sticker.css';
@import './utils/component/global/ariane.css';
@import './utils/component/global/accordion.css';
@import './utils/component/global/toc.css';

/* 
* ↳ CARDS
*/

@import './utils/component/cards/card-portfolio.css';
@import './utils/component/cards/card-services-list.css';

/* 
* ↳ SECTIONS
*/

@import './utils/component/section/review-slider.css';

/* 
*==========================================
* HOME
*==========================================
*/

@import './utils/page/home/ressources.css';
