/* 
*==========================================
* GLOBAL
*==========================================
*/

/* 
* ↳ EASINGS
*/

@import './utils/global/easings/easings.css';

/* 
* ↳ OPTIMISATIONS
*/

@import './utils/global/optimisations/cms-rt.css';

/* 
*==========================================
* RESPONSIVE
*==========================================
*/

@import './utils/responsive/breakpoints.css';

/* 
*==========================================
* COMPONENTS
*==========================================
*/

/* 
* ↳ GLOBAL
*/

@import './utils/component/global/navbar.css';
@import './utils/component/global/footer.css';
@import './utils/component/global/button.css';
@import './utils/component/global/sticker.css';
@import './utils/component/global/toc.css';
@import './utils/component/global/accordion.css';

/* 
* ↳ CARDS
*/

@import './utils/component/cards/card-portfolio.css';
@import './utils/component/cards/card-services-list.css';

/* 
* ↳ SLIDERS
*/

@import './utils/component/sliders/sliders.css';

/* 
*==========================================
* HOME
*==========================================
*/

@import './utils/page/home/ressources.css';
